<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all scores
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new score
    </h2>

    <form action="/insert_score" method="post">
      <div class="form-group">
        <label for="game_id_box">
          Game
        </label>

        <input type="text" id="game_id_box" name="query_game_id" class="form-control">
      </div>

      <div class="form-group">
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" class="form-control">
      </div>

      <div class="form-group">
        <label for="challenge_id_box">
          Challenge
        </label>

        <input type="text" id="challenge_id_box" name="query_challenge_id" class="form-control">
      </div>

      <div class="form-group">
        <label for="score_box">
          Score
        </label>

        <input type="text" id="score_box" name="query_score" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create score
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Game
        </th>

        <th>
          User
        </th>

        <th>
          Challenge
        </th>

        <th>
          Score
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @scores.each do |score| %>
      <tr>
        <td>
          <%= score.id %>
        </td>

        <td>
          <%= score.game_id %>
        </td>

        <td>
          <%= User.where({:id => score.user_id}).at(0).username %>
        </td>

        <td>
          <%= score.challenge_id %>
        </td>

        <td>
          <%= score.score %>
        </td>

        <td>
          <%= time_ago_in_words(score.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(score.updated_at) %> ago
        </td>

        <td>
          <a href="/scores/<%= score.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
